<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title"> Social </h3>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="fb-page" data-href="https://web.facebook.com/bnk48official.jan/" data-tabs="timeline" data-width="400" data-small-header="false"
                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
            </div>
            <div class="col-sm-4">
              <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                <div style="padding:8px;">
                  <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:37.5% 0; text-align:center; width:100%;">
                    <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                  </div>
                  <p style=" margin:8px 0 0 0; padding:0 4px;">
                    <a href="https://www.instagram.com/p/BZiRHlDnNiZ/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                      target="_blank">🐰แอบมองเธออยู่นะจ๊ะ แต่เธอไม่รู้บ้างเลย . . . I&#39;m keeping my eye on you. . . 🐰 how was you today?
                      today I have many works.. practice practice and practice for something. It is very difficult. but I
                      believe if i tried time and time again even if up to a thousand times. I will do and I will get successful.
                      #bnk48 #janbnk48 ♥</a>
                  </p>
                  <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">โพสต์ที่แชร์โดย Jan BNK48 (@jan.bnk48official) เมื่อ
                    <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
                      datetime="2017-09-27T07:04:52+00:00">ก.ย. 27, 2017 เวลา 12:04am PDT</time>
                  </p>
                </div>
              </blockquote>
              <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
