<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse" style="background-color: #3d3d3e">
    <button 
    (click)="isCollapse = !isCollapse"
    class="navbar-toggler navbar-toggler-right" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ST.ARMY</a>
    <div 
    [collapse]="isCollapse"
    class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
      </ul>
    </div>
  </nav>