<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-block">
            <h3>About</h3>
            <hr>
          <tabset>
            <tab heading='About Jan' customClass="heading">
              <div class="row">
                <div class="col-sm-4">
                  <img src="./assets/images/DSC03851.png">
                </div>
                <div class="col-sm-4">
                  <img src="./assets/images/3.png">
                  <img src="./assets/images/4.png">
                </div>
              </div>
            </tab>
            <tab heading='About St.Army'>
                <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อันที่จริง ฉายา "เซนต์แจน" (Saint JAN) ถูกเรียกขึ้นครั้งแรก ตั้งแต่วันแรกที่มีรูปของ member BNK48 ออกมาเลยนะครับ ซึ่งตอนนั้นยังไม่ได้มีรายการ BNK48Senpai ออกมาด้วยซ้ำ และยังไม่มี social media ใดๆของน้องๆในวงเลย
                </p>
                <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;มันเริ่มมาจากชื่อของน้องชื่อ "แจน" ซึ่งมันดันไปคล้ายกับ "เซนต์โจนส์(ฌาน ดาร์ก//Jeanne d'Arc) ออฟ อาร์ค" (Joan of Arc) แต่สำเนียงญี่ปุ่น จะออกเสียงว่า "แจ-นู" หรือ "แจน" นั่นแหละ ก็เลบเริ่มเรียกน้องกันว่า เซนต์แจน" (Saint JAN) หรือเรียกเต็มๆว่า "เซนต์แจน ออฟ อาร์ค" (Saint JAN of Arc) นั่นเอง
                        ประกอบกับ มีคนรัว Twitter #เซนต์แจน จนในที่สุด แม่อร (ORN BNK48) ก็ไปเห็นเข้า แล้วเอาไปแซวใน  ig ของแจน ตามด้วยพูดออกอากาศทางโทรทัศน์และใน Live จนฉายานี้โด่งดังไปทั่วประเทศ
                </p>
                <p>        
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุดท้ายก็ด้วยความที่ ตัวน้องแจนเองที่เป็นคนใจบุญ ชอบเข้าวัดนั่นแหละ ฉายานี้จังติดตัวน้องไปจริงๆ และยังติดปากแฟนๆและคนทั่วไปแบบถาวร
                </p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
