h3 {
    color: #000000;
    font-family: boon;
  }
  
  img {
    width: 100%;
  }
  
  .heading {
      font-family: belinda;
  }
  
  p {
      margin: 30px;
  }
  
  .container {
    margin-top: 100px;
  }